.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 100px;
  vertical-align: baseline;
}

.nav {
  vertical-align: text-top;
  text-align: right;
  padding-top: 20px;
  padding-right: 30px;
}

.featured_header {
  padding: 30px;
}

.featured_items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.featured_text {
  text-align: center;
  line-height: 10px;
}

.featured_images {
  width: 90%;
  height: auto;
}
