* {
  box-sizing: border-box;
  max-width: 100%;
}

/*Fonts*/

h1 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  color: #4D6877;
  font-size: 35px;
  letter-spacing: 30px;
  font-weight: 300;
}

h2 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  color: #377199;
  font-size: 25px;
  letter-spacing: 15px;
  font-weight: 300;
}

h3 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  color: #4D6877;
  font-size: 20px;
  font-weight: 300;
}

h4 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  color: #818689;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 300;
}

p {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
}

/*Header*/

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  vertical-align: baseline;
}

.logo {
  max-width: 100px;
  padding-top: 50px;
}

.nav {
  vertical-align: text-top;
  padding-top: 20px;
  padding-right: 30px;
}

.divider {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*Banner*/

.stars {
  width: 100%;
  height: 500px;
  background-image: url("../images/levi-price-35655.jpg");
  background-size: cover;
  position: relative;
}

/*Featured*/

.featured {
  text-align: center;
}

.featured_header {
  padding: 30px;
  text-align: center;
}

.featured_items {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  position: relative;
}

.featured_text {
  text-align: center;
  line-height: 10px;
}

.featured_padding_bottom {
  padding-bottom: 40px;
}
